<!-- <%# 50.times do |i| %>
  <%# frequency = (i*10)+1 %>
  <div>
    <%#= 'heroku run:detached rake "scrape:up_init["' + frequency.to_s + ']"' %>
  </div>
<%# end %> -->

<h1>Youtube Links</h1>
<% @links.each do |link| %>
  <div>
    <%= link_to link.title, "https://www.youtube.com/watch?v=" + link.youtube_code %>
  </div>
<% end %>